$primaryColor: #646cff;
$borderColor: rgb(240, 240, 240);
$backgroundColor: #fcfcfc;
$defaultFont: 14px;
$defaultBorderRadius: 6px;

.list-wrapper {
  padding: 10px;

  > .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    .sort-btns-wrapper,
    .searchBar {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-self: center;
      width: 50%;
    }
    .searchBar {
      width: 100%;
      border: 1px solid #f1f1f1;
      border-radius: $defaultBorderRadius;
      height: 35px;
      font-size: $defaultFont;
      text-align: center;
    }
    .dropDown-list {
      font-size: 13px;
      padding: 10px 8px 10px 14px;
      background: $backgroundColor;
      border: none;
      border-radius: $defaultBorderRadius;
      height: 35px;
      font-weight: 600;
      cursor: pointer;
      &:focus,
      &:hover {
        background-color: $primaryColor;
        cursor: pointer;
      }
    }
  }

  .user-list {
    border-left: 1.5px solid $borderColor;
    font-size: medium;
    padding: 4px 14px;
    display: flex;
    flex-direction: row;

    .user-name {
      padding-right: 5px;
      margin-block-start: 0em;
    }
  }
}

label {
  font-size: large;
  cursor: default;
  margin: 12px 0px 0px 12px;
}

button {
  height: 35px;
  font-size: $defaultFont;
  font-weight: 600;
  background-color: #ffffff;
  border: none;
  border-radius: $defaultBorderRadius;
  cursor: pointer;
  &:hover {
    background-color: $primaryColor;
  }
}
